/* Mixin */
@mixin vertical-align($position: relative) 
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

@mixin box-shadow($h-shadow, $v-shadow, $blur, $color)
	-moz-box-shadow: $h-shadow $v-shadow $blur $color;
	-webkit-box-shadow: $h-shadow $v-shadow $blur $color;
	box-shadow: $h-shadow $v-shadow $blur $color;

@keyframes fadingInAndOutEffect 
	from
		opacity: 0.7
	to 
		opacity: 1

// MENU
.menu-button
	$menu-button: 45px;
	color: #6a1015;
	position: fixed;
	width: $menu-button;
	height: $menu-button;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 3;
	text-align: center;
	line-height: $menu-button;

	&:hover
		color: grey;

.menu-overlay
	$menu-font: 'Titillium Web', sans-serif;
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.9);
	top: 0;
	z-index: 2;

	&.reveal
		display: inline;

	.menu-overlay__content
		text-align: center;
		color: #6a1015;
		font-family: $menu-font;

		h1 
			position: relative;
			font-family: $menu-font;
			&:after
				content: ""
				position: absolute;
				bottom: -9px;
				background-color: #6a1015;
				width: 100px;
				height: 2px;
				left: 50%;
				transform: translateX(-50%);

		ul
			a
				color: #6a1015;
			font-size: 2em;
			padding: 0;
			margin-top: 20px;
			list-style-type: none;

		
// 
body 
	background-color: #272625;

$navbar-height: 50px;

.block-wrapper
	position: relative;
	// max-height: 1000px;
	max-height: 2000px;
	transition: max-height 1s ease;
	&.hidden-block 
		max-height: 0px;

.intro-wrapper
	$intro-wrapper-height: 350px;
	$intro-wrapper-background-color: black;
	background-color: $intro-wrapper-background-color;
	height: $intro-wrapper-height;
	// @include box-shadow(0px, 2px, 5px, #888888);
	.intro-wrapper__logo 
		position: relative;
		display: block;
		width: 80%;
		margin: 0 auto 0 auto;
		@include vertical-align(relative);
		opacity: 0.5;
		animation: fadingInAndOutEffect 1s linear 1s infinite alternate;
	&:after
		position: absolute;
		bottom: -20px;
		content: "";
		border-style: solid;
		border-width: 20px 20px 0 20px;
		border-color: black transparent transparent transparent;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;

.preview-wrapper
	background: url('../../images/ba-gif.gif');
	background-size: cover;
	height: 400px;
	overflow: hidden;

	@media (min-width: 600px) 
		background: url('../../images/ba-gif-large.gif');
		background-size: cover;

	.preview-wrapper__buttons-wrapper
		position: absolute;
		top: 40px;
		display: block;
		width: 320px;
		left: 50%;
		transform: translateX(-50%);

		.preview-wrapper__important-buttons
			$button-color: white;
			$button-font: 'Yanone Kaffeesatz', sans-serif;
			position: relative;
			float: left;
			width: 150px;
			margin: 1% 5px 1% 5px;
			// border: 1px solid $button-color;
			color: $button-color;
			text-align: center;
			font-size: 2em;
			background-color: rgba(0,0,0,0.5);
			.preview-wrapper__important-buttons__content
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				h3
					@include vertical-align(absolute);
					margin: 0;
					font-family: $button-font;
					text-align: center;
					width: 100%;
					// transform: translateY(-50%);
			&:before
				content: "";
				display: block;
				margin-top: 100%

			&:hover 
				background-color: rgba(0,0,0,1);
			

.blog-wrapper
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	color: #9c9a9a;
	h1 
		margin-top: 0;
		text-align: center;
	background-color: #151515;
	overflow: hidden;
	height: auto;

	.blog-wrapper__content
		padding: 20px 0 20px 0;

.registration-wrapper
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	color: #9c9a9a;
	h1 
		margin-top: 0;
		text-align: center;
	background-color: #151515;
	overflow: hidden;
	height: auto;

	.registration-wrapper__content
		padding: 20px 0 20px 0;
		.registration-category-button
			overflow: hidden;
			display: inline-block;
			cursor: pointer;
			width: 100px;
			height: 100px;
			// line-height: 100px;
			background-color: black;
			color: white;
			.button__label 
				position: relative;
				overflow: hidden;
				top: 50%;
				transform: translateY(-50%);

			&:hover 
				background-color: white;
				color: black;
			

		@media (min-width: 600px) 
			.registration-category-button
				font-size: 1.25em;
				width: 125px;
				height: 125px;
				// line-height: 125px;

		@media (min-width: 800px) 
			.registration-category-button
				font-size: 1.5em;
				width: 150px;
				height: 150px;
				// line-height: 150px;

		@media (min-width: 1000px) 
			.registration-category-button
				font-size: 2em;
				width: 200px;
				height: 200px;
				// line-height: 200px;
  

.about-wrapper 
	// padding: 50px;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	color: #9c9a9a;
	h1 
		margin-top: 0;
		text-align: center;
	background-color: #151515;
	overflow: hidden;
	height: auto;

	.about-wrapper__content 
		padding: 30px 1% 30px 1%;
		.about-wrapper__content__section
			h2
				margin: 0;
				background-color: black;
			background-color: #0e0e0e;
			padding: 1%;
			margin-bottom: 5px;
			p
				text-align: left;


.rules-wrapper 
	// padding: 50px;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	color: #9c9a9a;
	h1 
		margin-top: 0;
		text-align: center;
	background-color: #151515;
	overflow: hidden;
	height: auto;

	.rules-wrapper__content 
		padding: 30px 1% 30px 1%;
		.rules-wrapper__content__section
			h2 
				margin-top: 0;
			padding: 1%
			background-color: #0e0e0e; 
			margin-bottom: 20px;

			ul 
				padding: 0;
				list-style-type: none;
				li 
					padding: 2px;
					margin-bottom: 3px;
					text-align: left;
					background-color: black;


.faq-wrapper 
	// padding: 50px;
	max-height: 3000px;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	color: #9c9a9a;
	h1 
		margin-top: 0;
		text-align: center;
	background-color: #151515;
	overflow: hidden;
	height: auto;

	.faq-wrapper__content 
		padding: 30px 10px 30px 10px;
		.faq__section
			// background-color: #404040;
			h2
				position: relative;
				text-align: left;
				margin-top: 0;
				margin-bottom: 5px;

				&:after
					position: absolute;
					bottom: 0;
					left: 0;
					content: ""; 
					background-color: #9c9a9a;
					width: 100%;
					height: 1px;

			padding: 1% 1% 15px 1%;
			margin-bottom: 15px;

		$faq-question-color: #0e0e0e;
		.faq__question
			font-size: 1.3em;
			margin-top: 0;
			margin-bottom: 0;
			position: relative;
			background-color: $faq-question-color;
			padding: 4px;
			margin-right: 20px;
			&:after
				position: absolute;
				bottom: -20px;
				left: 0;
				content: "";
				border-style: solid;
				border-width: 20px 20px 0 0px;
				border-color: $faq-question-color transparent transparent transparent;
				z-index: 2;

		$faq-answer-color: black;
		.faq__answer
			margin-top: 8px;
			margin-left: 20px;
			margin-bottom: 10px;
			position: relative;
			background-color: $faq-answer-color;
			padding: 4px;
			&:after
				position: absolute;
				bottom: -20px;
				right: 0;
				content: "";
				border-style: solid;
				border-width: 20px 0 0 20px;
				border-color: $faq-answer-color transparent transparent transparent;
				z-index: 2;


.schedule-choices-wrapper 
	// padding: 50px;
	max-height: 3000px;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	color: #9c9a9a;
	h1 
		margin-top: 0;
		text-align: center;
	background-color: #151515;
	overflow: hidden;
	height: auto;

	.schedule-choices-wrapper__content
		padding: 30px 10px 30px 10px;
		ul
			list-style-type: none;
			padding: 0;
			a 
				color: #9c9a9a;
				text-decoration: none;

			.schedule-button 
				font-size: 1.5em;
				margin-bottom: 3px;
				background-color: black;
				cursor: pointer;
				h3
					padding: 6px;
					margin: 0;
					background-color: #0e0e0e;
					&:hover 
						background-color: black;
				.schedule-table-wrapper
					overflow: hidden;
					max-height: 0;
					transition: max-height 0.3s ease;

					table
						th
							font-size: 0.9em;
						margin: 4px;
						td 
							text-align: left;
							padding: 2px;
							font-size: 0.7em;
				&.clicked
					h3 
						background-color: white;
						color: black;
					.schedule-table-wrapper
						max-height: 1000px;




footer 
	$footer-color: #6a1015;
	$footer-font: 'Titillium Web', sans-serif;
	
	padding-top: 20px;
	p
		margin-bottom: 3px;

	p:after 
		display: block;
		content: "";
		width: 150px;
		height: 1px;
		background-color: $footer-color;
		margin: auto;

	.fa 
		margin: 3px 4px 0 4px;

	text-align: center;
	color: $footer-color;
	a
		color: $footer-color;
	background-color: black;
	height: 100px;
	font-family: $footer-font;


@media screen and (min-width: 480px) 
	.intro-wrapper
		.intro-wrapper__logo 
			width: 315px;



